/* Computers and laptop screen */
@media(max-width:1080px){
    .Primary-heading{
        font-size: 3.8rem;
        word-spacing:0.4rem;
    }
    .Secondary-heading{
        font-size: 3rem;
    }
    .Tertiary-heading{
        font-size:2rem;
    }
    .My-description{
        margin-top:5rem;
        width: 100%;
    }
    .article-text{
        line-height: 2.2rem;
    }
    .certificate-card{
        height: 100vh;
        gap:1rem;
        padding: 2rem;
    }
    .certificate-img{
        height: 40%;
    }
    .Contact{
        height: 80vh;
    }
    .Form{
        gap: 3rem;
    }
    .footer-btn{
        width:30%;
    }
}
/* Tablet-screen */
@media(max-width:800px){
    .Primary-heading{
        font-size: 3rem;
        word-spacing:0rem;
    }
    .Secondary-heading{
        font-size: 2.8rem;
    }
    .Tertiary-heading{
        font-size:1.8rem;
    }
    .mobile-nav-button{
        display:block;
        z-index:2;
    }
    .main-nav{
     position:absolute;
    top:0%;
    left:0%;
    height:100vh;
    width:100%;
    z-index:1;
    transform:translateX(100%);
    background-color: var(--main-background);
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    transition: all 0.5s linear;
    gap:2rem;
    opacity:0;
    pointer-events:none;
    visibility:hidden;

    }
    .nav-open .main-nav{
        opacity:1;
        pointer-events:auto;
        visibility:visible;
        transform:translateX(0%);
    }
    .nav-open .mobile-nav-icon[name = "cross"]{ 
        display:block;
   }
   .nav-open .mobile-nav-icon[name = "bars"]{
    display:none;
   }
    .hero-image{
        height: 60vh;
    }
    .Para, .nav-li, .btn{
        font-size: 1.4rem;
    }
    .My-description{
        margin-top:2rem;
    }
    .Profile-2{
        width:40vh;
    }
    .btn{
        width: 50%;
    }
    .certificate-cards{
        flex-direction:column;
        gap: 3rem;
    }
    .certificate-card{
        width: 75%;
    }
    .footer-btn{
        width:30%;
    }

}
/* Mobile-screen */
@media(max-width:600px){
    header{
        gap:1rem;
        
    }
    .sticky header{
         left:-10%;
    }
    .logo{
        height:3rem;
    }
    .toggle-button{
        width:9rem;
        height:3rem;
    }
    .toggle-button:after{
        width:2rem;
        height:2rem;
        top:0.3rem;
    }
    input:checked + .toggle-button:after, .fa-moon{
        left:8.5rem;
    }
    i{
        font-size:1.8rem;
    }
    .fa-sun,.fa-moon{
        top:0.5rem;
    }
    
    .btn{
        width: 60%;
    }
    .Home{
        flex-direction: column;
        justify-content: center;
        align-items:center;
        gap: 3rem;
    }
    .Primary-heading{
        font-size:2.5rem;
    }
    
   
    .Hero-text{
        align-items: center;
    }
    .About, .Project-container, .Form{
       display:flex;
       flex-direction:column;
       align-items: center;
       
    }
    .About{
        height:auto;
        padding: 3rem;
    }
    .Profile-2{
        height:70vh;
    }
    .My-description{
        margin-top:1rem;
    }
    .Certificate-card{
        width:100%;
         height:100vh;
    }
     .Project{
        width:100vw;
       }
       .Project-image{
        height:40vh;
       }
   .progress-item{
    flex-direction:column;
   }
   .Contact{
    height: auto;
}

.footer-btn{
    width:25%;
    font-size:1.2rem;
}
footer .Para{
    font-size: 1.2rem;
}


}
